SSM::set Proof::Proof/iDestinationFloorNumber 2
SSM::set Proof::Proof/iTravelRequest true
SSM::cycle 52
SSM::set Proof::Proof/iDestinationFloorNumber 1
SSM::set Proof::Proof/iTravelRequest true
SSM::cycle 40
